<nav class="navbar navbar-expand-lg navbar-dark primary-nav">
      <div class="container">
        <section class="dark">
            <a href="/"><p class="gradient1">
                <%= fa_icon "diamond" %></p>
            </a>
        </section><a href="/" class="nav-link"> James Briggs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav ml-auto">
            <%= nav_helper 'nav-link', 'li' %>
            <%= login_helper 'nav-link' %>
          </ul>
        </div>
      </div>
    </nav>