<nav class="navbar navbar-expand-lg navbar-inverse fixed-top" id="header" >
      <div class="container">
        <a href="/" class="nav-link mr-auto"><%= image_tag "james_logo_light.png", width: "175" %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#expand-menu" aria-controls="expand-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="white"><%= fa_icon('navicon') %></span>
        </button>

        <div class="collapse navbar-collapse" id="expand-menu">
          <ul class="navbar-nav ml-auto">
            <%= nav_helper 'nav-link', 'li' %>
            <%= link_to "Login", new_user_session_path, class: 'nav-link' %>
          </ul>
        </div>
      </div>
    </nav>

