<nav class="navbar navbar-expand-lg navbar-dark bg-dark blog-nav fixed-top" id="header">
      <div class="container">
      <a href="/" class="nav-link mr-auto"><%= image_tag "james_logo_light.png", width: "175" %></a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#expand-menu" aria-controls="expand-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="expand-menu">
          <ul class="navbar-nav ml-auto">
            <%= nav_helper 'nav-link', 'li' %>
            <%= login_helper 'nav-link' %>
          </ul>
        </div>
      </div>
    </nav>

