<div id="nav" class="nav">
		<div class="icon">
			<ul>

                        <li class="text-white" ><a href="/"><i class="fa fa-home"></i></a></li>
				<li class="text-white" ><a href="/about"><i class="fa fa-user-circle "></i></a></li>
				<li class="text-white" ><a href="/contact"><i class="fa fa-book "></i></a></li>
				<li class="text-white" ><a href="/blogs"><i class="fa fa-pencil "></i></a></li>
				<li class="text-white" ><a href="/portfolios"><i class="fa fa-th"></i></a></li>
				<%# <li><a href="#"><i class="fa fa-sign-in"></i></li> %>
                        
	
			</ul>
		</div>
		<div class="text">
			<ul>
				<li><a title="Home" href="/">Home</a></li>
                        <li><a href="/about" >About</a></li>
                        <li><a href="/contact" >Contact</a></li>
                        <li><a href="/blogs" >Blog</a></li>
                        <li><a href="/portfolios" >Portfolio</a></li>
                        <li><%= login_helper "text-white"  %></li>
			</ul>
		</div>
		<div class="info">
			<%# <div class="logo"><p>LOGO</p></div> %>
			<div class="name">James Briggs</div>
			<div class="quote">Ruby on Rails</div>
			<%# <div class="social">
				<a target="_blank" href="https://twitter.com/tmrDevelops"><i class="fa fa-twitter"></i></a> %>
			</div>
		</div>
	</div>
