<div class="lets-work">
        <div class="header">
            <div class="hire-me">
                <h1>I am avaible to work on your project today!</h1>
                <%= link_to 'Contact', contact_path, class: 'btn-home' %>
            </div>
        </div>
    </div>