    <div class="footer">
        <h2>Don't wait another day to get started on your project!</h2>
        <br>
        <%= render "shared/application_footer" %>
        <br>
            <div class="social-links">
                <%= render 'shared/social_links' %>
            </div>
        
    </div>