<div id="background" class="home-background">
    <div class="header">
    <%= render "shared/application_nav" %>
        <div class="welcome-content">
                <p class="lead">I'm here to create beautiful websites and web applications for my clients</p>
                <h1 class="cover-heading">Let's build something amazing together</h1>
                <p>
                    <%= link_to "About Me", about_path, class: "btn-home" %>
                    <%= link_to "My Resume", "https://s3-us-west-2.amazonaws.com/bzode-devcamp-portfolio/uploads/JamesBriggs_Resume_2018.pdf", class: "btn-home", target: "_blank" %>
                </p>
        </div>
    </div>
</div>