    <div class="projects">
        <h1>My most recent projects!</h1>
        <div class="row features">
                <%= render partial: 'shared/portfolios_home' %>
            <div class="col-md-12">
                <p><%= link_to "View Portfolio", portfolios_path, class: 'btn-home-inverse' %></p>
            </div>
        </div>
    </div>