<div class="my-promise">
    <h1>Hard Work! Dedication! Always Learning!</h1>
    <p>I approach every new job, or project with the mentality to work hard, dedicate myself, and learn something new.  Constantly improving and giving everything my very best is a promise I can give to you, and myself!</p>
</div>
<div class="my-work">
    <h1>Limitless features to your website or project can take you beyound the ordinary!</h1>
    <div class="container">
        <div class="row features">
            <div class="col-md-4">
                <%= image_tag "ruby.png", height: '150' %>
                <p>I've developed a deep passion for programming and building websites with Ruby and Ruby on Rails.  With Ruby you can unlock the flexibility and clean look of Ruby and have nearly any need for web application built in Ruby!</p>
            </div>
            <div class="col-md-4">
                <%= image_tag "wordpress.png", height: '150' %>
                <p>Is WordPress your fancy? WordPress is one of the largest used platforms on the web today! With an easy to use interface for the user, and the admin I can build a custom website for you and give you immediate access to tools, tips, and a wide range of features built right in. </p>
            </div>
            <div class="col-md-4">
                <%= image_tag "react.png", height: '150' %>
                <p>Whether it is React.JS or Angular.JS these two front-end frame works can take your website from looking great, to memorable for all your visitors. Add additional features to give you flexibilty and great user experience and you'll be raving for days.</p>
            </div>
            <div class="col-md-12">
                <p>See what other languages or services I can privde to you!</p>
                <div class="features">
                    <p><%= link_to "See More", root_path, class: "btn-home-inverse"%></p>
                </div>
            </div>
        </div>
    </div>
</div>