<%= render "shared/application_nav" %>
<div class="app-card-container card-container">
<div class="card">
        <h1>About Me</h1>
        <hr>
        <div class="row">
            <div class="col-md-4">
                <%= image_tag "profile.jpg", width: 350, alt: "profile image" %>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <p>I first got my start in web development over 7 years ago after wanting to learn HTML/CSS for a family email newsletter. From there my love and passion for development only grew. My first ever website was extremely static, with more inline stlyes than CSS and was only built using HTML and CSS. As my experience grew I went on to discover the ease of building websites with WordPress, but having to work through 100s of templates never seemed to look as good on your own website as they did when you bought them was never much fun.</p> 
                
                <p>Before long life took an unexpected turn and I began working more on the marketing aspects of products than any web development beyound basic websites.  I enjoyed just about everything with marketing, the concepts, playing with numbers to decide the best campaigns, or email copy.  Above all I enjoyed working on a regular basis with so many incredible people.</p>

                <p></p>
            </div>
        </div>
    </div>
</div>