<%= render "shared/application_nav" %>
<h1>Contact Us</h1>

<hr>
<div class="row">
    <div class="col-md-6">
        <h3>Office Address</h3>
        <p>11409 S Oakmond Rd<br>South Jordan, UT 84009</p>
        <h3>Phone</h3>
        <p>(801) 471-7493</p>
        <h3>Email</h3>
        <p><a href="mailto:james@kindledhope.com?subject=PortfolioContact" "email me">Email Me</a></p>
    </div>

    <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.892411365366!2d-112.00664204880924!3d40.54396605571345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87528576de18fdcd%3A0x5befa330dc7e8f28!2s11409+Oakmond+Rd%2C+South+Jordan%2C+UT+84095!5e0!3m2!1sen!2sus!4v1508965101255" width="500" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>    