@import "bootstrap";
@import "font-awesome";
@import "gritter";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #292F33;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
@media (min-width: 40em) {
  .site-wrapper-inner {
      vertical-align: top !important;
  }
}

p {
  text-shadow: none;
}

/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

/*
 * Custom Styles
 */

 .card {
  padding: 15px;
 }

 .card-block {
  color: #000;
  text-align: left;
 }
.auth-links a {
  color: #000000;
}
.register-btns {
  margin: auto;
}
.register-links {
  padding: 0px 12px 0px 12px;
}

.login > .card {
  margin: 0 auto;
  width: 22rem;

}

.app-nav span {
  margin-left: 15px;
  margin-right: 15px;
}
.header {
  background: rgba(0, 0, 0, 0.45);
  overflow: hidden;
  z-index: 2;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
}

#background {
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}

.home-background {
  background: image-url('portfolio_background.jpg') no-repeat;
}
.about-background {
  background: image-url('about_me.jpg') no-repeat;
}
.about-links {
  background: image-url('my_desktop.JPG') no-repeat;
  min-height: 200px !important;
  bottom: 0;
  color: #fff;
    a:hover {
      text-decoration: none;
    }
}
.my-bio {
  padding-left: 50px;
  text-align: left;
}

.about-links-content {
  padding: 3em 5em 3em 5em;
}
.contact-background {
  background: image-url('responsive_design.jpg') no-repeat;
}
.app-footer {
  color: #ffffff;
}

.utahjazz {
  color: #292F33;
  margin: 15px;
  text-shadow: none;
  text-align: left;

  & a {
    color: #66757F;
  }

  & .card {
    border-bottom: 3px solid #55aCEE;
  }
  
}

.app-card-container {
  color: #000000;
  text-align: left
}


.logo {
  width: 55px;
  margin-right: 5px;
}
.card-container {
  margin: 0 auto;
  width: 80%;
}

.content {
  margin-top: 100px;
}

.about-content {
  margin-top: 2em;
}

.welcome-content {
  color: #fff;
  margin-top: 25%;
  margin-bottom: 25%;
      a:hover {
        text-decoration: none;
    }
}

.my-promise {
  background: #edeeef;
  padding: 5em 10em 5em 10em;

}
.my-work {
  padding: 5em 10em 5em 10em;
}
.features {
  margin-top: 2em; 
  p {
    margin-top: 45px;
  }
  a:hover {
    text-decoration: none;
  }
}

.projects, .blogs {
  background: #edeeef;
  padding: 5em 10em 5em 10em; 
    h1 {
      color: #292F33;
  }
  a:hover {
    text-decoration: none;
  }
}
.lets-work {
  background: image-url('lets_work.jpg') no-repeat;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
}
.hire-me {
  color: #fff;
  margin-top: 25%;
  margin-bottom: 25%;
    a:hover {
    text-decoration: none;
  }
  h1 {
    margin: 25px;
  }
}
.footer {
  background: #000000;
  color: #ffffff;
  padding-top: 3em;
  padding-bottom: 1em;
}
.social-links {
  a {
    padding: 7px;
  }
}
.btn-home {
  margin: 30px 15px;
  padding: 15px 3em 15px;
  font-size: 1.25em;
  border: 1px solid #fff;
  border-radius: 5px;
       &:hover {
        transition: color ease-in .25s;
        transition: background ease-in .25s;
        background: #fff;
        color: #292F33;
        a {
          color: #292F33;
        }
       }
}

.cover-heading {
    margin-bottom: 25px;

}

#header {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 99;
  &.--not-top {
    background: #1d2025;
    transition: background 0.6s ease;
    -webkit-transition: background 0.6s ease;
    -moz-transition: background 0.6s ease;
    -o-transition: background 0.6s ease;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
}

.white {
  color: #fff;
}
.navbar-toggler {
  border: 1px solid #ffffff;
}


.btn-custom {
    color: #292F33 !important;
    a:hover {
      color: #fff !important;
    }
}
.btn-home-inverse {
  margin: 30px 15px;
  padding: 15px 3em 15px;
  font-size: 1.25em;
  color: #292F33;
  border: 1px solid #292F33;
  border-radius: 5px;
       &:hover {
        transition: color ease-in .25s;
        transition: background ease-in .25s;
        background: #292F33;
        color: #fff;
       }
}
.connect-with-me, .about-me, .my-background, .development, .testimonials {
  margin: 10px 0;
  padding: 2em 5em;
}

.map {
  margin: 25px 0 -7px;
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
}
.my-background, .testimonials {
  background: #edeeef;
  width: 100%;
  margin: 0;
}

.testimonials {
  p {
    text-align: left;
  }
}
.testimonial {
  border-radius: 145px;
  border: 5px solid #fff;
  max-height: 125px;
}
.signature {
  font-weight: bold;
  text-align: right !important;
}