@import "bootstrap";
@import "font-awesome";
@import "gritter";

/*
 * Globals
 */

  body {
    color: #555;
  }
  
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #333;
  }
  
  
  /*
   * Override Bootstrap's default container.
   */
  
  .container {
    max-width: 60rem;
  }
  
  
  /*
   * Blog name and description
   */
  
  .blog-header {
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    border-bottom: .05rem solid #eee;
  }
  .blog-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 400;
  }
  .blog-description {
    font-size: 1.1rem;
    color: #999;
  }
  
  @media (min-width: 40em) {
    .blog-title {
      font-size: 3.5rem;
    }
  }
  
  
  /*
   * Main column and sidebar layout
   */
  
  /* Sidebar modules for boxing content */
  .sidebar-module {
    padding: 1rem;
  }
  .sidebar-module-inset {
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: .25rem;
  }
  .sidebar-module-inset p:last-child,
  .sidebar-module-inset ul:last-child,
  .sidebar-module-inset ol:last-child {
    margin-bottom: 0;
  }
  
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }
  
  
  /*
   * Blog posts
   */
  
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
  }
  
  
  /*
   * Footer
   */
  
  .blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  
/*
* Custom styles
*/

.social-links {
  font-size: 2em;
}
.comment-card > .card {
  margin: 15px;

}
.profile-img {

}
.comment-attribution {
  font-size: .8em;
  font-style: italic;
}
.float-right {
  float: right;
}
.blog-menu {
  display: block;
}
.blogcrumb a {
  font-size: 1.25em;
  margin: 0 10px 0 10px;
}

.blog-sidebar-source {
  margin-top: 20px;
}

/*
* Custom Links
*/

@mixin gradient-text($gradient, $bg : 'light') {
  @supports(mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      
      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: #fff;
      background: #000;
      mix-blend-mode: lighten;

      &::before {
        mix-blend-mode: multiply;
      }
    }
  }
}


section.dark {
  background: none;
  
  .gradient1 {
    color: #fff; // Fallback color
    
    @include gradient-text('linear-gradient(to right, #FFBDB7, #ff7c70, #e23b4a, #FF0505, #F00)', 'dark');
    float: left;
  }
  
}


.gradient1 {
  font-size: 1.5em;
  margin: 0;
  opacity: 0.9;
  -ms-transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

.home-link {
  color: #fff;

  &:hover {
    color: rgba($color: #ffffff, $alpha: 0.5)

  }
}

.logo {
  width: 55px;
  margin-right: 5px;
}