@import "bootstrap";
@import "jquery-ui";
@import "font-awesome";
@import "gritter";

body {
    min-height: 75rem; /* Can be removed; just added for demo purposes */
  }
  
  .navbar {
    margin-bottom: 0;
  }
  
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-bottom: 0;
    background-color: #fff;
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }
  
  .album {
    min-height: 50rem; /* Can be removed; just added for demo purposes */
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
  }
  
  .card {
    float: left;
    width: 33.333%;
    padding: .75rem;
    margin-bottom: 2rem;
    border: 0;
  }
  
  .card > img {
    margin-bottom: .75rem;
  }
  
  .card-text {
    font-size: 85%;
  }
  
  footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }
  
  /*
* Custom Links
*/


.ruby-icon {
  font-size: 1.95em;
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
  color: red;
}

// Update: September 2016, after a lot of grumbling, decided to simplify this. Cons: The color accuracy has gone down and mostly works on very dark or very light backgrounds. Pros: The code is far simpler and doesn't require doubling-up the text.

@mixin gradient-text($gradient, $bg : 'light') {
  @supports(mix-blend-mode: lighten) {
    display: inline-block;
    position: relative;
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      
      background: unquote($gradient);
      pointer-events: none;
    }

    @if ($bg == 'light') {
      color: #000;
      background: #fff;
      mix-blend-mode: multiply;

      &::before {
        mix-blend-mode: screen;
      }
    } @else {
      color: #fff;
      background: #000;
      mix-blend-mode: lighten;

      &::before {
        mix-blend-mode: multiply;
      }
    }
  }
}

section.light {
  background: #eee;

  .gradient1 {
    @include gradient-text('linear-gradient(to right, #FFBDB7, #ff3019, #e23b4a, #FF4332, #C40703)', 'light');
    // @include gradient-text('linear-gradient(to right, #FFBDB7, #fff, #e23b4a, #db0768, #ff0000)', 'light');
  }
  
  .gradient2 {    
    @include gradient-text('linear-gradient(to right, #FFBDB7, #ff3019, #e23b4a, #FF4332, #C40703)', 'light');
  }
}

section.dark {
  background: none;
  
  .gradient1 {
    color: #fff; // Fallback color
    
    @include gradient-text('linear-gradient(to right, #FFBDB7, #ff7c70, #e23b4a, #FF0505, #F00)', 'dark');
    float: left;
  }
  
  .gradient2 {
    color: #fff;
    clear: both;
    
    // @include gradient-text('linear-gradient(to right, #FFBDB7, #ff3019, #e23b4a, #FF4332, #C40703)', 'dark');
  }
}

section {
  
}

.gradient1 {
  font-size: 2em;
  margin: 0;
  opacity: 0.9;
  -ms-transform: rotate(-35deg);
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.gradient2 {
  text-align: center;
  margin: 1em auto;
  width: 10em;
}

.nav{
  height:100%;
  position:fixed;
  left:-2em;
  top:0;
  z-index:1000;
  transform-style:preserve-3d;
  perspective:1000px;
}
.icon{
  position:absolute;
  left:0;
  top:0;
  z-index:990;
  height:100%;
  background:hsla(0,0%,15%,1);
  
    & li{
    border-bottom:1px solid hsla(0,0%,0%,.3);
    list-style-type:none;
    }
    & a{
      display:block;
      width:64px;
      height:64px;
      line-height:64px;
      text-align:center;
      font-size:1.6em;
      color:hsla(0,0%,60%,1);
      text-shadow:0 1px 0 hsla(0,0%,0%,1);
      transition:all .5s ease-out;
   
        &:hover{
          color:hsla(255,255%,255%,1);
          transform:translateX(10px) scale(1.2)
        }
    }
}

.nav:hover .text{
  transform:rotateY(0deg)
}
.text{
  position:absolute;
  left:63px;
  top:0;
  z-index:980;
  height:100%;
  background:hsla(0,0%,15%,1);
  border-right:1px solid hsla(0,0%,0%,.3);
  transition:transform .24s linear;
  backface-visibility:hidden;
  transform-origin:left;
  transform:perspective(1000px) rotateY(90deg);
  
    & li{
      border-bottom:1px solid hsla(0,0%,0%,.3);
    }
    & a{
      display:block;
      width:200px;
      height:64px;
      line-height:64px;
      text-indent:1em;
      font-size:1.4em;
      text-decoration:none;
      color:hsla(0,0%,60%,1);
      text-shadow:0 1px 0 hsla(0,0%,0%,1);
      transition:all .5s ease;
  
         &:hover{
            color:hsla(255,255%,255%,1);
            transform:translateX(-14px)
         }
    } 
}

.nav:hover .info{
  left:0;opacity:1;
  transition:opacity .5s ease-in .1s
}
.info{
  position:absolute;
  padding-left:2em;
  bottom:30px;
  z-index:999;
  width:264px;
  color:hsla(255,255%,255%,1);
  text-align:center;
  line-height:1.6;
  opacity:0;

    .logo p{
      width:100px;
      height:100px;
      margin:0 auto;
      background:hsla(0,0%,15%,1);
      color:hsla(0,0%,26%,1);
      opacity:.6;
      overflow:hidden;
      text-align:center;
      transition:all .5s ease;
      font-size:2em;
      text-shadow:-1px -1px hsla(0,0%,31%,1),1px 1px hsla(0,0%,7%,1);

      &:hover{
        opacity:1;
        color:hsla(255,255%,255%,1);
        text-shadow:-1px -1px hsla(0,0%,34%,1),
          1px 1px hsla(0,0%,7%,1);
      }
    }
  .name{
    font-size:2em;
    font-weight:bold;
    letter-spacing:2px;
    color:hsla(0,0%,26%,1);
    text-shadow:-1px -1px hsla(0,0%,31%,1),
      1px 1px hsla(0,0%,7%,1);
  }
  .quote{
    color:#444;
    text-shadow:1px 1px hsla(0,0%,7%,1);
  }
  .social a{
    font-size:2em;
    color:hsla(0,0%,20%,1);
    letter-spacing:.5em;
    text-shadow:1px 1px hsla(0,0%,27%,1),
      -1px -1px hsla(0,0%,7%,1);
    transition:all .5s ease;
    
      &:hover{
        color:hsla(255,255%,255%,1);
        text-shadow:-1px -1px hsla(0,0%,34%,1),
          1px 1px hsla(0,0%,7%,1);
      }
   }
}
/* 
Only added a nav query for height bc width is fine 
(covers full width of viewport from 270px) down to 220px.  
Bottom nav info section is hidden when screen height 
hits 550px or below.  Nav still functions as a fly-out  
*/

@media screen and ( max-height:550px ){
    .info{
      display:none;
    }
}
@media screen and ( max-width:450px ){
    h1{
      font-size:7.5vw;
    }
}


.portfolio-container {
  padding-top: 30px;
}
